* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.CardsView {
  overflow-x: scroll;
  overflow-y: hidden;
}

.CardDeck {
  width: 200rem; 
}

.MoviePoster {
  height: 30vh;
}

.SelectedCardView {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 376px) {
  .form-row {
    justify-content: center;
    display: flex;
    margin-right: -5px;
    margin-left: 5px;
  }
}

@media (min-width: 376px) {
  .SelectedCardView {
    width: 20rem;
  }
}


/* for Bootstrap CardDeck and Card */
@media (max-width: 576px) {
  .CardDeck {
    display: flex;
  }
  .CardDeck .card {
    margin-right: 10px;
    margin-left: 10px;
    flex: 1 0 0%;
  }
}